# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\company\Robusta\bus-booking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
